fastapi==0.100.0
uvicorn[standard]==0.22.0
xgboost==2.1.4
pandas==2.2.3
scikit-learn==1.4.2
joblib==1.4.2
numpy==1.26.3
python-dotenv==1.0.1
qdrant-client==1.13.3
openai==1.72.0
requests # if you make other external HTTP requests
pypdf==3.0.1 # if you implement PDF serving/parsing within the backend later
python-dox # if you implement DOCX serving/parsing within the backend later
rich==13.9.4
pyparsing==3.2.1
pytesseract==0.3.13
pdfplumber==0.11.6
